.header__lang-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #ffffff;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 30px;
  height: 28px;

  row-gap: 18px;

  font-size: 24px;
  font-weight: 400;
  line-height: 117%;
  font-style: normal;
}

.header__lang-link:first-of-type {
  margin-right: 18px;
}

.header__lang-link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
}
