.cover__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    max-width: 320px;
    height: 200;
  }
}
