.cover__link {
  max-height: 100%;
  min-height: 740px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cover__link::before {
  content: "";
  background-color: #2a2c2f;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 740px;
  opacity: 0.3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover__link:hover {
  background-color: #2a2c2f;
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    max-width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    max-width: 320px;
    min-height: 200;
  }
}
