.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
  font-style: normal;
  width: 460px;

  margin: 0;
  padding: 0 0 48px 0;
  box-sizing: border-box;
}

.place__text:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
    width: 440px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .place__title {
    width: 340px;
    font-size: 42px;
    line-height: 110%;
  }
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .place__title {
    width: 300px;
    font-size: 38px;
    line-height: 109%;
  }
}

@media screen and (min-width: 321px) and (max-width: 574px) {
  .place__title {
    width: 300px;
    font-size: 38px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    width: 288px;
    font-size: 32px;
    padding: 0 0 32px 0;
  }
}
