.footer__items {
  max-width: 978px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: 18px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
  .footer__items {
    max-width: 794px;
  }
}

@media screen and (max-width: 768px) {
  .footer__items {
    max-width: 500px;
  }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  .footer__items {
    max-width: 500px;
    gap: 32px;
  }
}

@media screen and (min-width: 321px) and (max-width: 574px) {
  .footer__items {
    max-width: 90%;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer__items {
    max-width: 310px;
    flex-direction: column;
    gap: 32px;
  }
}
