.header__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
  align-self: flex-end;
  margin: 28px 0 0 0;
  padding: 0;
  gap: 18px;
  box-sizing: border-box;
}

.header__lang-links:first-of-type {
  margin-right: 18px;
}

@media screen and (max-width: 320px) {
  .header__links {
    margin: 16px 0 16px 0;
  }
}
