.header__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
  align-self: flex-end;
  margin: 28px 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}
