.place__image {
  max-width: 460px;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .place__image {
    max-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    max-width: 320px;
  }
}
