.footer__menu {
  max-width: 1184px;
  width: 100%;
  margin: 0;
  padding: 92px 0 24px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .footer__menu {
    max-width: 490px;
    gap: 18px;
  }
}

@media screen and (max-width: 575px) {
  .footer__menu {
    max-width: 575px;
  }
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .footer__menu {
    max-width: 90%;
    gap: 32px;
  }
}

@media screen and (min-width: 321px) and (max-width: 575px) {
  .footer__menu {
    max-width: 90%;
    flex-direction: column;
    gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .footer__menu {
    max-width: 90%;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 0;
    padding-bottom: 24px;
    flex-direction: column;
    gap: 32px;
  }
}
