.footer__menu {
  max-width: 1184px;
  margin: 0 0 0 0;
  padding: 92px 0 24px 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 575px) {
  .footer__menu {
    max-width: 575px;

    margin: 0 0 0 0;

    box-sizing: border-box;
  }
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .footer__menu {
    width: 500px;
    flex-direction: column;
    gap: 32px;
  }
}

@media screen and (min-width: 321px) and (max-width: 574px) {
  .footer__menu {
    max-width: 90%;
    flex-direction: column;
    gap: 32px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  .footer__menu {
    max-width: 310px;
    max-height: 310px;

    margin: 0 0 0 0;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 116px;
    padding-bottom: 24px;
    box-sizing: border-box;
  }
}
