.footer__menu {
  max-width: 1184px;
  width: 100%;
  margin: 0;
  padding: 92px 0 24px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .footer__menu {
    max-width: 500px;
  }
}

@media screen and (max-width: 575px) {
  .footer__menu {
    max-width: 575px;
  }
}

@media screen and (min-width: 574px) and (max-width: 768px) {
  .footer__menu {
    max-width: 90%;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 320px) and (max-width: 574px) {
  .footer__menu {
    max-width: 90%;
    padding-top: 24px;
    padding-bottom: 24px;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer__menu {
    max-width: 90%;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 0;
    padding-bottom: 48px;
    flex-direction: column;
  }
}
