.lead {
  width: 76.8%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}
