.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 122%;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 32px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffff;
  z-index: 4;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    width: 228px;
    font-size: 14px;
    line-height: 114%;
  }
}
