.header__logo {
  min-width: 176px;
  height: 52px;
  padding: 0 0 0 0;
  margin: 28px 0 0 0;
  box-sizing: border-box;
  background-image: url("../../../images/header-logo.svg");
  background-size: cover;
  z-index: 2;
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 142px;
    margin: 16px 0 0 0;
  }
}
