.header {
  max-width: 92.5%;
  min-height: 52px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 93.7%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 90%;
    padding: 0;
  }
}
