.footer__copyright {
  max-width: 230px;
  width: 100%;
  min-width: 230px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 24px 0;
  box-sizing: border-box;
  text-align: end;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__copyright {
    line-height: 112%;
    padding-left: 0;
    text-align: start;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    padding-top: 0;
    padding-left: 16px;
    line-height: 14px;
    text-align: start;
  }
}
