.footer__copyright {
  max-width: 230px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0 0 24px 0;
  box-sizing: border-box;
  text-align: end;
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .footer__copyright {
    line-height: 112%;
    padding-top: 16px;
    flex-direction: column;
  }
}

@media screen and (min-width: 321px) and (max-width: 574px) {
  .footer__copyright {
    line-height: 14px;
    padding-top: 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    padding-top: 16px;
    line-height: 14px;
  }
}
