.intro__text {
  margin: 0;
  padding: 40px 0 33px 0;
  box-sizing: border-box;
  max-width: 690px;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 163%;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (min-width: 575px) and (max-width: 744px) {
  .intro__text {
    max-width: 500px;
  }
}

@media screen and (min-width: 321px) and (max-width: 575px) {
  .intro__text {
    max-width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
  }
}
