.cover {
  max-width: 92.5%;
  min-height: 740px;
  margin: 0 auto;
  padding: 0;
  position: relative;

  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (min-width: 574px) and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 62.5%;
  }
}

@media screen and (min-width: 321px) and (max-width: 574px) {
  .cover {
    min-height: 62.5%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    min-height: 100%;
  }
}
