.places__place {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, fit-content(100%));
  grid-template-rows: repeat(2, fit-content(100%));
  grid-template-areas:
    "title website"
    "image text";

  padding-top: 80px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin: 0 0 0 0;
  column-gap: 40px;
}

.places__place:first-of-type {
  padding-top: 92px;
}

.places__place:last-of-type {
  padding-bottom: 92px;
}
