.cover__background {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;

  z-index: 3;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    max-width: 320px;
    height: 200px;
  }
}
