.place {
  display: grid;
  grid-template-columns: repeat(2, fit-content(100%));
  grid-template-rows: repeat(2, fit-content(100%));
  grid-template-areas:
    "title website"
    "image text";

  padding-top: 80px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin: 0;
  column-gap: 40px;
  max-width: 984px;
}

.place:first-of-type {
  padding-top: 92px;
}

.place:last-of-type {
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    column-gap: 28px;
    padding-top: 73px;
  }

  .place:first-of-type {
    padding-top: 88px;
  }

  .place:last-of-type {
    padding-bottom: 90px;
  }
}

@media screen and (min-width: 321px) and (max-width: 650px) {
  .place {
    margin: 0 auto;
    max-width: 490px;
    grid-template-columns: repeat(1, fit-content(100%));
    grid-template-rows: repeat(4, fit-content(100%));
    grid-template-areas:
      "title"
      "website"
      "image"
      "text";
  }
  .place:first-of-type {
    padding-top: 64px;
  }

  .place:last-of-type {
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    max-width: 320px;
    padding-top: 50px;
    grid-template-columns: repeat(1, fit-content(100%));
    grid-template-rows: repeat(4, fit-content(100%));
    grid-template-areas:
      "title"
      "website"
      "image"
      "text";
  }
  .place:first-of-type {
    padding-top: 64px;
  }

  .place:last-of-type {
    padding-bottom: 66px;
    padding-top: 50px;
  }
}
