.footer {
  max-width: 92.5%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93.75%;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: 186px;
    min-height: 310px;
    margin: 0;
    flex-direction: column;
  }
}
