.place__website {
  max-width: 456px;
  align-self: flex-end;
  align-content: center;
  padding-bottom: 48px;
}

@media screen and (max-width: 320px) {
  .place__website {
    margin: 0;
    padding: 0 0 32px 0;
    box-sizing: border-box;
  }
}
