.intro__title {
  max-width: 690px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 54px;
  font-weight: 900;
  font-style: normal;
  line-height: 107%;
}

@media screen and (min-width: 574px) and (max-width: 744px) {
  .intro__title {
    max-width: 500px;
    font-size: 46px;
  }
}

@media screen and (min-width: 321px) and (max-width: 574px) {
  .intro__title {
    width: 90%;
    line-height: 110%;
    font-size: 32px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    width: 90%;
    line-height: 110%;
    font-size: 32px;
  }
}
